/* Apply Comfortaa font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

body {
  font-family: 'Comfortaa', cursive;
  margin: 0;
  padding: 0;
  background-color: #e9f6f4;
  color: #19634c;
}

/* Main page styles */
.App {
  text-align: center;
}

header {
  background-color: #19634c;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


h1 {
  font-size: 36px;
}

.title-button {
  background-color: #19634c; /* Green color */
  color: #fff; /* White text */
  font-size: 2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  border-radius: 9px;
}




.auth-button {
  padding: 10px 20px;
  background-color: #174235;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.auth-button:hover {
  background-color: #19634c;
}

/* Start page styles */
.start-page {
  text-align: center;
  padding-top: 50px;
}

.start-page h1 {
  font-size: 36px;
}

.form-container {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

.form-container input,
.form-container select {
  padding: 10px;
  margin: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #174235;
}

.submit-button {
  margin-top: 50px;
  padding: 15px 50px;
  background-color: #19634c;
  color: #ffffff;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #174235;
}

/* Start button styles */
.start-button {
  margin-top: 100px;
  padding: 15px 50px;
  background-color: #19634c;
  color: #ffffff;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.start-button:hover {
  background-color: #174235;
}

.back-button{
  margin-top: 50px;
  padding: 15px 50px;
  background-color: #19634c;
  color: #ffffff;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


.back-button:hover {
  background-color: #174235;
}

.next-button{
  margin-top: 50px;
  padding: 15px 50px;
  background-color: #19634c;
  color: #ffffff;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.next-button:hover {
  background-color: #174235;
}

/* Flexbox layout for radio options */
.radio-options {
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack radio buttons vertically */
  margin-top: 20px;
  margin-right: 50px;
  align-items: flex-start; /* Align radio buttons and labels to the left */
  margin-left: 20px;
}

/* Each radio option (input + label) */
.radio-option {
  display: flex; /* Flexbox to align radio button and label horizontally */
  align-items: center; /* Vertically center the radio button and label */
  white-space: nowrap; /* Prevent label text from breaking onto a new line */
  margin-top: 10px;
}

/* Space between radio button and label */
.radio-option input {
  margin-right: 10px;
}

/* Label styling */
.radio-option label {
  font-size: 17px;
}

/* Recommended label styling */
.recommended {
  color: green;
  font-weight: bold;
  font-size: 10px;
  margin-left: 5px; /* Small space between label text and *recommended */
}

.scrollable-results {
  max-height: 200px; /* Set a fixed height */
  overflow-y: auto;  /* Enable vertical scrolling */
  margin-top: 10px;  /* Add some space between the input and the scroll box */
}

.scrollable-results ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.scrollable-results li {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* Optional: Hover effect */
.scrollable-results li:hover {
  background-color: #e9f6f4; /* Highlight the item when hovered */
  cursor: pointer;
  color:black;
}


.buttons {
  display: flex;
  justify-content: center; /* Center-aligns the buttons */
  gap: 20px; /* Adds space between the buttons */
  margin-top: 20px; /* Optional: Adds space above the button container */
}

.back-button, .submit-button {
  font-size: 20px;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Space between columns */
  padding: 20px;
}

.summary{
  width: 40%; /* Each column takes up 40% of the width */
  text-align: center; /* Center-align content inside each column */
  border-right: 1px solid black;
}


.recommendations {
  width: 40%; /* Each column takes up 40% of the width */
  text-align: center; /* Center-align content inside each column */
}
